@model QANotes.Models.NoteNoteTypesViewModel

@{
    ViewBag.Title = "My notes";
}

<h2>My notes</h2>

@using (Html.BeginForm())
{
    foreach (var item in Model.Notes)
    {
        <p>@item.NoteTypeId, @item.Description, @item.Id</p>
    }
}

