@model QANotes.Models.NotesViewModel
@using QANotes.Models

@{
    ViewBag.Title = "My notes";
}

<h2>My notes</h2>

<h3>View</h3>


@*@using (Html.BeginForm("SubmitNote", "Notes", FormMethod.Post))
    {*@
@*<form method="post" action="SubmitNote" data-bind="viewModel">
        <div class="form-horizontal" data-bind="foreach: Notes">
            <input type="text" data-bind="value: Description" />
        </div>
        <div>
            <button class="btn btn-primary" data-bind="submit: jsonString" type="submit" name="SubmitNote">Submit</button>
        </div>
    </form>*@


<div data-bind="foreach: Notes">
    <input type="text" data-bind="value: Description" />

    @*<select data-bind="foreach: $root.NoteTypes">
        <option data-bind="text: Value, value: $data"></option>
    </select>*@

    <select data-bind="options: $root.NoteTypes, optionsValue: 'Id', optionsText:'Name'"></select>

    <div>
        <button class="submit-btn">Submit</button>
    </div>
</div>

<hr />

<div>
    <text>

    </text>
</div>




<script>
    var viewModel = ko.mapping.fromJS(@Html.Raw(Model.Jsonify()));

    ko.applyBindings(viewModel);
</script>

