@model QANotes.Models.NotesViewModel
@using QANotes.Models

@{
    ViewBag.Title = "My notes";
}

<h2>My notes</h2>



@*@using (Html.BeginForm("SubmitNote", "Notes", FormMethod.Post))
    {*@
@*<form method="post" action="SubmitNote" data-bind="viewModel">
        <div class="form-horizontal" data-bind="foreach: Notes">
            <input type="text" data-bind="value: Description" />
        </div>
        <div>
            <button class="btn btn-primary" data-bind="submit: jsonString" type="submit" name="SubmitNote">Submit</button>
        </div>
    </form>*@


@*<div data-bind="foreach: Notes">
        THIS WORKS BUT IS GARBAGE
        <input type="text" disabled="disabled" data-bind="value: Description" />
        <input type="text" data-bind="value: NoteTypeId" />
        <div>
            <button class="edit-btn">Edit</button>
        </div>
    </div>*@

<div class="row">
    <div class="col-md-3">
        <h4 class="col-md-offset-1">Databind this</h4>
        <ul class="list-group" data-bind="foreach: Notes">
            @* Id should probably not start with a digit. Seems to be an issue. *@
            <li class="list-group-item" data-bind="attr: { 'Id' : Id, 'NoteType' : NoteTypeId}, text: Description"></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h4 class="col-md-offset-1">Databind this</h4>
        <ul class="list-group" data-bind="foreach: Notes">
            <li class="list-group-item" data-bind="attr: { 'Id' : Id}, text: Description"></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h4 class="col-md-offset-1">Databind this</h4>
        <ul class="list-group" data-bind="foreach: Notes">
            <li class="list-group-item" data-bind="attr: { 'Id' : Id}, text: Description"></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h4 class="col-md-offset-1">Databind this</h4>
        <ul class="list-group" data-bind="foreach: Notes">
            <li class="list-group-item" data-bind="attr: { 'Id' : Id}, text: Description"></li>
        </ul>
    </div>
</div>


<script>
    var viewModel = ko.mapping.fromJS(@Html.Raw(Model.Jsonify()));

    ko.applyBindings(viewModel);
</script>

