@model QANotes.Models.NotesViewModel
@using QANotes.Models

@{
    ViewBag.Title = "My notes";
}

<h2>My notes</h2>

<h3>View</h3>



<div class="form-horizontal" data-bind="foreach: Notes">
    <input type="text" data-bind="value: Description" />
</div>

<br />
<div class="form-horizontal" data-bind="foreach: Notes">
    <input type="text" data-bind="value: Description" />
</div>



<script type="text/javascript">
    var viewModel = ko.mapping.fromJS(@Html.Raw(Model.Jsonify()));
    ko.applyBindings(viewModel);
</script>