@model QANotes.Models.NotesViewModel
@using QANotes.Models

@{
    ViewBag.Title = "My notes";
}

<h2>My notes</h2>

<h3>View</h3>


@using (Html.BeginForm("SubmitNote", "Notes", FormMethod.Post))
{
    <div class="form-horizontal" data-bind="foreach: Notes">
        <input type="text" data-bind="value: Description" />
    </div>
    <div>
        <button class="btn btn-primary" onclick="sendData();" type="submit" name="SubmitNote">Submit</button>
    </div>
}

<br />
<div class="form-horizontal" data-bind="foreach: Notes">
    <input type="text" data-bind="value: Description" />
</div>



<script type="text/javascript">
    var viewModel = ko.mapping.fromJS(@Html.Raw(Model.Jsonify()));
    ko.applyBindings(viewModel);

    var sendData = function () {
        var data = ko.mapping.toJS(viewModel);
        return data;
    };
</script>
